astropy
astropy-healpix
bokeh
boto3
cftime
corner
dask
emcee
gsw
h5netcdf
healpy
importlib-metadata
llvmlite
pyarrow
pyqtgraph
PyQt6
pyvista[jupyter]
s3fs
scikit-image
scikit-learn
seaborn
skan
smart-open[s3]
timm==0.3.2
torch
torchvision
tqdm
ujson
umap-learn
xarray
xmitgcm
zarr
